networks:
  default:
    internal: false
    name: ${NETWORK_NAME}

services:
  traefik:
    image: traefik:3
    restart: ${RESTART}
    command:
      - "--providers.docker"
      - "--api.dashboard=${DASHBOARD}"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.d:/etc/traefik/traefik.d
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.entrypoints=web"
      - "traefik.http.routers.api.rule=Host(`${HOST}`)"
      - "traefik.http.routers.api.service=api@internal"
